:root {
  --ui-shadow-xs: 0 1px 1px rgb(0 0 0 / 5%);

  --ui-shadow-sm: 0 1px 2px rgb(0 0 0 / 8%);

  --ui-shadow-md: 0 4px 12px rgb(0 0 0 / 12%);

  --ui-shadow-lg: 0 12px 32px rgb(0 0 0 / 16%);

  --ui-shadow-xl: 0 20px 48px rgb(0 0 0 / 22%);
}

:root[data-theme="dark"] {
  --ui-shadow-xs: 0 1px 1px rgb(0 0 0 / 18%);

  --ui-shadow-sm: 0 1px 2px rgb(0 0 0 / 24%);

  --ui-shadow-md: 0 4px 12px rgb(0 0 0 / 32%);

  --ui-shadow-lg: 0 12px 32px rgb(0 0 0 / 40%);

  --ui-shadow-xl: 0 20px 48px rgb(0 0 0 / 48%);
}
